.card {
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: auto;
    grid-template-areas: 
    "pic pic title"
    "pic pic bod"
    "pic pic data"
    "pic pic tag";
    
    
}

.cardImage{
    grid-area: pic;
    img {
       max-width: 100%;
        height: auto;
    }
}

.cardTitle{
    grid-area: title;
    text-align: center;
    border: 3px;
}

.cardBody{
    grid-area: bod;
    text-align: center;
    border: 3px;
}

.deets{
    grid-area: data;
    text-align: center;
    border: 3px;
}

.tags{
    grid-area: tag;
    text-align: center;
    border: 3px;
    ul{
        list-style: none;
    }
}






